@import '../../../styles.scss';

/*dialog header*/
.dialog-header { min-height: unset; height: 50px; background-color: rgba(38,38,38,0.9);
  .dialog-heading { font-weight: 100; }
  .close-dialog-btn { right: 0; cursor: pointer; border-radius: 20px; padding: 5px;
    &:hover { background-color: rgba(38,38,38,0.5); }
  }
}

/*confirmation-message*/
.confirmation-message { height: 100px; 
  .close-dialog-btn { float: right; cursor: pointer; margin: 5px; display: block; }
  span { padding: 40px 16px;  display: block; color: white; font-size: $medium; font-weight: 100; }
}

 /*dialog actions*/
.dialog-actions { height: 50px;  border-top: 1px solid rgba(38,38,38,0.2);
  button { top: 50%; transform: translateY(-50%); float: right; margin-right: 10px; }
  .delete-btn { background: rgba(230,0,92,1); }
  .delete-cancel-btn { background-color: rgba(38,38,38,0.5); }
}


// Small devices,extra small devices (landscape phones,portrait phones, less than 768px)
@media (max-width:767.98px) {

  /*dialog header*/
  .dialog-header { height: 40px;
    .dialog-heading { font-size: $medium; }
    .close-dialog-btn { font-size: 20px;
     }
  }

  /*confirmation-message*/
  .confirmation-message { height: 80px;
    .close-dialog-btn { font-size: $medium; }
    span { padding: 30px 16px; font-size: $small; }
  }

  /*dialog actions (buttons)*/
  .dialog-actions { height: 40px;
    button { line-height: 30px;  font-size: $x-small; }
  }

}
