<!--dialog header-->
<mat-toolbar class="dialog-header mat-elevation-z6">
  <mat-toolbar-row>
    <!--heading-->
    <h6 class="text-capitalize dialog-heading">{{heading}}</h6>

    <!--flex:auto to fill remaining space-->
    <span class="spacer"></span>

    <!--close section button-->
    <i class="material-icons close-dialog-btn" mat-button (click)="closeDialog()">
      close
    </i>

  </mat-toolbar-row>
</mat-toolbar>

<!--confirmation message--> 
<div class="confirmation-message">

  <span>{{message}}</span>
</div>

<!--dialog actions (buttons)-->
<div class="dialog-actions">
  <button mat-button class="text-capitalize" [mat-dialog-close]="false" (click)="closeDialog()">no</button>
  <button mat-button class="text-capitalize" [mat-dialog-close]="true" (click)="confirmDelete()">yes</button>
</div>
