<!-- HEADER -->
<mat-toolbar class="header mat-elevation-z6">

  <mat-toolbar-row class="header-row">

    <!-- logo -->
    <a class="text-uppercase test-name" routerLink="/testresults" matTooltip="Back To Tests" matTooltipClass="tooltip" [innerHTML]="testName +' D.'+ testDate"></a>

    <!-- fill remaining space between elements-->
    <span class="spacer"></span>

    <!-- create new test button -->
    <button mat-button class="text-capitalize add-new-athlete-btn" (click)="showAddNewAthleteSection()" [disabled]="styleAfterAction">
      <span class="header-btn-label">add new athlete</span>
      <mat-icon class="header-btn-icon" matTooltip="Add Athlete To Test">library_add</mat-icon>
    </button>

    <!-- delete test button -->
    <button mat-button class="text-capitalize delete-athlete-btn" (click)="deleteTest()" [disabled]="styleAfterAction">
      <span class="header-btn-label">delete test</span>
      <mat-icon class="header-btn-icon" matTooltip="Delete Test">delete_forever</mat-icon>
    </button>

  </mat-toolbar-row>

</mat-toolbar>

<!-- BOTTOM SECTION-->
<section class="bottom-section">

  <!--test list section-->
  <div class="bottom-left-section" [ngClass]="{'bottom-left-section-before-action':styleBeforeAction,'bottom-left-section-after-action':styleAfterAction}">
   
    <!-- user instruction and table for test details -->
    <mat-card class="list-card bottom-spacing">

      <!-- instruction -->
      <div class="user-instruction" *ngIf="isAthleteAvailable">
        <h4>(Click on row to change athlete details)</h4>
      </div>


      <!--test details table-->
      <div class="list-table" [hidden]="!isAthleteAvailable">

        <table mat-table [dataSource]="dataSource" matSort>

          <!-- date Column -->
          <ng-container matColumnDef="sr">
            <th mat-header-cell *matHeaderCellDef class="text-capitalize ">  </th>
            <td mat-cell *matCellDef="let element;let i=index">
              {{i+1}}
            </td>
          </ng-container>

          <!-- date Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="text-capitalize "> ranking </th>
            <td mat-cell *matCellDef="let element;let i=index">
              {{element.name}}
            </td>
          </ng-container>

          <!-- number of participants Column -->
          <ng-container matColumnDef="ranking">
            <th mat-header-cell *matHeaderCellDef class="text-capitalize "> distance (meters) </th>
            <td mat-cell *matCellDef="let element;let i=index "> {{element.distance}} </td>
          </ng-container>

          <!-- test type Column -->
          <ng-container matColumnDef="fitnessRating">
            <th mat-header-cell *matHeaderCellDef class="text-capitalize "> fitness rating </th>
            <td mat-cell *matCellDef="let element;let i=index"> {{element.fitnessRating}}</td>
          </ng-container>
          <!-- row definition -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></tr>
        </table>


      </div>

      <!--display when content is not available in table-->
      <div *ngIf="!isAthleteAvailable" class="content-not-available">
        <h1 class="text-capitalize ">Athlete not available</h1>
        <h6 class="text-capitalize ">click "Add new athlete" button to add athlete</h6>
      </div>

    </mat-card>

  </div>

  <!--create new test section (initially hidden)-->
  <div [ngClass]="{'hide-element':styleBeforeAction,'bottom-right-section':styleAfterAction}" (clickOutside)="onClickedOutside($event)" [exclude]="'.add-new-athlete-btn,.list-table,.delete-athlete-btn'">

    <!--close section btn-->
    <i class="material-icons close-side-section-icon" mat-button (click)="closeSideSection()">
      close
    </i>

    <!--heading and form to create new test-->
    <mat-card class="form-card bottom-spacing">
      <add-athlete (closeSideSection)="receiveFromChild($event)" [formHeading]="formHeading" [isDisableDeleteButton]="hideDeleteButton" [athlete]="athlete" [isCloseSideSection]="styleBeforeAction"></add-athlete>
    </mat-card>
   
  </div>

</section>
