/* You can add global styles to this file, and also import other style files */

/*angular material theme import*/
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

/*common style import*/
@import "./app/shared/styles/common.scss";

body { padding: 0px; margin: 0px; overflow: hidden; }


/*text transform*/
.text-uppercase { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

/*text-size,alignment*/
.text-x-small { font-size: $x-small; }

/*remove inner & outer spin button of input [type=number]*/
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

/*hide element*/
.hide-element { display: none; }

/*filled remaining space between elements*/
.spacer { flex: auto; }


/*snackbar custom style*/
.snackBarStyle { background-color: rgba(230,0,92,1); color: white; min-width: 300px !important; padding: 0px !important; min-height: 40px !important; margin: 0 !important;
  span { margin: auto; text-align: center; padding: 0; }
}

/*dialog custome style*/
.dialogStyle { background: unset;
  .mat-dialog-container { background: #b3b3b3; padding: 0px; overflow: hidden; min-width: 300px; }
}

/*tooltip custom style*/
.tooltip { font-size: $small; }

/*sideBar animation (width)*/
@keyframes showSideSection {
  0% { width: $w-0; opacity: 0; }
  100% { width: $w-40; opacity: 1; }
}

//placeholder color
::placeholder { color: white; opacity: 0.5; }


// Small devices,extra small devices (landscape phones,portrait phones, less than 768px)
@media (max-width:767.98px) {

  /*sideBar animation (width)*/
  @keyframes showSideSection {
    0% { width: $w-0; }
    100% { width: $w-100; }
  }
  /*dialog custome style*/
  .dialogStyle {
    .mat-dialog-container { min-width: unset; }
  }
}
