@import '../../../styles.scss';


/*form to add new athlete*/
.add-new-athlete-form {
  button { line-height: 35px; margin: 10px 10px 10px 0px; color: white; font-size: $medium; border: 2px solid rgba(64, 64, 64,0.6);
    &:disabled {cursor:not-allowed; }
  }
  .delete-btn { display: inline-block; }
}

// Medium devices,Small devices,extra small devices (landscape phones,portrait phones,tablets, less than 992px)
@media (max-width:991.98px) {

  /*form to add new athlete*/
  .add-new-athlete-form {
    button { font-size: $x-small; line-height: 30px; }
  }
}
