@import '../../../styles.scss';


/*form to add new athlete*/
.add-new-athlete-form {
  button { line-height: 35px; margin: 10px 10px 10px 0; color: white; font-size: $medium; border: 1px solid rgba(64, 64, 64,0.6); background: #e6005c;
    &:disabled { cursor: not-allowed; background-color: #808080; }
  }
  .delete-btn { display: inline-block; background-color: rgba(38,38,38,0.5); }
}

// Medium devices,Small devices,extra small devices (landscape phones,portrait phones,tablets, less than 992px)
@media (max-width:991px) {

  /*form to add new athlete*/
  .add-new-athlete-form {
    button { font-size: $x-small; line-height: 30px; }
  }
}
