/*width (percentage)*/
$w-0: 0%;
$w-40: 40%;
$w-60: 60%;
$w-70: 70%;
$w-80: 80%;
$w-90: 90%;
$w-100: 100%;

/*font size (px)*/
$xx-small: 10px;
$x-small: 13px;
$small: 15px;
$medium: 17px;
$large: 25px;
$x-large: 30px;
